/* RELATOS */
.abajo {
  position: fixed;
  bottom: 0;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px 5px 5px;
  background-color: #584D46;
}
.abajo::after {
  clear: both;
  content: "";
  display: block;
}
.abajo .logo {
  font-size: 28px;
  color: whitesmoke;
  line-height: 0;
  margin-bottom: 8px;
  margin-right: 4px;
}
@media screen and (min-width: 1024px) {
  .abajo .logo {
    float: left;
    margin-bottom: 0;
  }
}
.abajo ul {
  line-height: 1.5;
  margin: 0 0 16px 0;
  padding: 0;
}
.abajo ul::after {
  clear: both;
  content: "";
  display: block;
}
@media screen and (min-width: 1024px) {
  .abajo ul {
    float: left;
    line-height: 1.8;
    margin-bottom: 0;
    margin-left: 16px;
  }
  .abajo ul::after {
    clear: both;
    content: "";
    display: block;
  }
}
.abajo ul li {
  list-style: none;
  padding-right: 16px;
}
@media screen and (min-width: 1024px) {
  .abajo ul li {
    display: inline;
    text-align: left;
  }
}
.abajo ul li a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}
.abajo ul li a:focus, .abajo ul li a:hover {
  color: white;
}
@media screen and (min-width: 1024px) {
  .abajo .secondary-links {
    float: right;
  }
}
.abajo .secondary-links li a {
  font-size: 12px;
  font-weight: 100 !important;
}
.abajo .secondary-links .social {
  margin: 1em 0 0 0;
}
@media screen and (min-width: 1024px) {
  .abajo .secondary-links .social {
    float: right;
    margin-top: 0;
  }
}
.abajo .secondary-links .social li {
  float: left;
  font-size: 1em;
  line-height: 0;
  margin: 0;
  padding-right: 0.7em;
}
.abajo .secondary-links .social li:last-child {
  padding-right: 0;
}
.abajo .secondary-links .social li > a {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  color: #444;
  text-align: center;
  line-height: 30px;
}
.abajo .secondary-links .social li > a:hover {
  background-color: white;
}



:root { 
	--warning: #00ff00;
	--dark: #343a40;
}

.conbarra {
	max-height:405px;
  overflow: auto;
}
.elemento {
	background-color:#fff;
}
.img-thumbnail:hover{
	background-color:rgba(0,0,0,0.2);
}
.movilidad {
background-color: transparent;
  position: absolute;
  z-index: 10;
}
.movilidad:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
#myelemento {
  position: absolute;
  z-index: 10;
  background-color: transparent;
  text-align: center;
  resize: both;
}
.numero{
  position:absolute;
  top: 40px;
  left : 30px;
  z-index: 12;
}

.numerado
{
  position:absolute;
  z-index: 11;
}
/* TEMA LECTORES oxblood  oxb*/

.oxb { background-color: #76323F; color: #fff; border-color: #76323F;}	/* Main Primary color */
.oxbth { background-color: #B87683; color: #000; border-color: #B87683; }
.oxblabel { background-color: #974F5D; color: #fff; border-color: #974F5D; }
.oxbfondo { background-color: #F7EBED; }
.oxbbut2 { background-color: #440A15; color: #fff; }


/* TEMA EJEMPLARES lileil  lil*/

.lil { background-color: #3B5270; color: #fff; border-color: #3B5270;}	/* Main Primary color */
.lilth { background-color: #78889C; color: #000; border-color: #78889C; }
.lillabel { background-color: #566A84; color: #fff; border-color: #566A84; }
.lilfondo { background-color: #E3DFE6; }
.lilbut2 { background-color: #162C49; color: #fff; }

/* TEMA PRESTAMOS ocris  ocr*/

.ocr { background-color: #2f4d1a; color: #fff; border-color: #0D2701;}	/* Main Primary color */
.ocrth { background-color: #7FA86B; color: #000; border-color: #7FA86B; }
.ocrlabel { background-color: #436E2E; color: #fff; border-color: #436E2E; }
.ocrfondo { background-color: #E8F1E5; }
.ocrbut2 { background-color: #162a11; color: #fff; }

/* TEMA VINO vin*/

.vin { background-color: #034127; color: #fff; border-color: #034127;}	/* Main Primary color */
.vinth { background-color: #631215; color: #fff; border-color: #631215; }
.vinlabel { background-color: #c0ac9a; color: #000; border-color: #c0ac9a; }
.vinfondo { background-color: #facaab; }
.vinbut2 { background-color: #1a1a1a; color: #fff; }

/* TEMA COLACAO cao*/

.cao { background-color: #69391F; color: #fff; border-color: #69391F;}	/* Main Primary color */
.caoth { background-color: #A27155; color: #fff; border-color: #A27155; }
.caolabel { background-color: #7F5036; color: #fff; border-color: #7F5036; }
.caofondo { background-color: #C6987E; }
.caobut2 { background-color: #49210A; color: #fff; }

/* TEMA ORANGEBLUE orb*/

.orb { background-color: #FC3F19; color: #000; border-color: #FC3F19;}	/* Main Primary color */
.orbth { background-color: #FF8929; color: #000; border-color: #FF8929; }
.orblabel { background-color: #012CAF; color: #fff; border-color: #012CAF; }
.orbfondo { background-color: #C7DEFE; }
.orbbut2 { background-color: #1A020F; color: #fff; }

/* CAMPOS fld*/

.fld-FECHA { background-color: #B8C3DB; color: #000; border-color: #B8C3DB; }
.fld-LIBRO { background-color: #D3F0C5; color: #000; border-color: #D3F0C5; }
.fld-CODIGOLECTOR { background-color: #FFDBD1; color: #000; border-color: #FFDBD1; }
.fld-ALIAS { background-color: #F2D6E5; color: #000; border-color: #F2D6E5; }
.fld-NO { display:none;  }
.fld-DEVUELTO { display:none; }
.fld-SI { background-color: #899A51; color: #000; border-color: #899A51; }
.fld-CURSO { background-color: #D9A6B0; color: #000; border-color: #D9A6B0; }
.fld-WARNING { background-color: #FBD51E; color: #000; border-color: #FBD51E; }
.fld-EDITORIAL { background-color: #E3DFE6; color: #000; border-color: #E3DFE6; }
.fld-SERIE { background-color: #A27155; color: #000; border-color: #A27155; }

.fld-EDIT { background-color: #034127; color: #fff; border-color: #000; }
.fld-HISTORIAL { background-color: #440A15; color: #fff; border-color: #fff; }

.fld-DESPEDIDA { 
	background-color: #FFF71F;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .6rem;
	}

/* Modifico bootstrap a mi gusto */

.sombra {
	margin-bottom: 20px; box-shadow: 3px 4px 15px 1px rgba(0, 0, 0, 0.53);
}

.marca {
	display: inline-block;
	padding: .25em .4em;
	font-size: 85%;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	white-space: normal;
	vertical-align: baseline;
	border-radius: .25rem;
	box-shadow: 0 3px 3px 0 rgba(0,0,0,0.18),0 3px 3px 0 rgba(0,0,0,0.15);
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

a.marca:focus, a.marca:hover {
	text-decoration: none
}

.marca:empty {
	display: none
}

.marca {
	position: relative;
	top: -1px
}

.marca-capsula{
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem
}

.bertateka{
	font-family: 'Fontdiner Swanky';
	font-weight: 600;
	font-size: 1.5em;

	color: #ffeeca;
	border-color: #C6987E;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.invisible{
	display:none;
}

#aciertos .slider-selection  {
	background: #ffa002;
}
#juego .slider-selection  {
	background: #ffa002;
}
#palabras .slider-selection {
	background: #ffa002;
}
#nivel .slider-selection {
	background: #ffa002;
}
#tiempo .slider-selection {
	background: #ffa002;
}
.slider-tick.in-selection {
	background-image: linear-gradient(to bottom,#ffa002 0,#ffa002 100%);
}
.slider-handle {
background-image: linear-gradient(to bottom,#631215 0,#631215 100%);
}

